@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.014 308.299);
  --color-base-200: oklch(94% 0.033 307.174);
  --color-base-300: oklch(90% 0.063 306.703);
  --color-base-content: oklch(38% 0.176 304.987);
  --color-primary: oklch(82% 0.119 306.383);
  --color-primary-content: oklch(29% 0.149 302.717);
  --color-secondary: oklch(85% 0.138 181.071);
  --color-secondary-content: oklch(27% 0.046 192.524);
  --color-accent: oklch(82% 0.111 230.318);
  --color-accent-content: oklch(29% 0.066 243.157);
  --color-neutral: oklch(43% 0.218 303.724);
  --color-neutral-content: oklch(97% 0.014 308.299);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
